<div class="container content-container">
  <div class="row">
    <div class="col-sm-12 pad-my-bottom center">
      <h1>Message from the Commissioner</h1>
    </div>

    <div class="col-sm-8 col-sm-offset-2 pad-my-bottom space-my-bottom commish-note">
      <h3 class="center give-me-small-top-padding pad-my-bottom"><%= @commish_note.created_at.strftime("- %B %-d, %Y -") %></h3>
      <p><%= simple_format(@commish_note.commish_note_content) %></p>
    </div>
    <div class="col-sm-8 col-sm-offset-2 pad-my-bottom">
      <p><%= link_to "View all commish messages....", commish_notes_path, class: "team-link" %></p>
    </div>
  </div>
</div>