<% provide(:title, "Champions") %>

<div class="container content-container">
  <div class="row">
    <div class="col-sm-12 center">
      <h1>Hall of Champions</h1>
    </div>

    <div class="col-sm-12 give-me-top-margin center">
      <table class="table champion-table table-striped">
        <tr class="table-header">
          <th>YEAR</th>
          <th>FFBL CHAMPION</th>
          <th>PLAYOFF MVP</th>
          <th>REGULAR SEASON</th>
          <th>AL</th>
          <th>NL</th>
          <th>MVP</th>
          <th>CY YOUNG</th>
          <th>R.O.Y.</th>
        </tr>

        <tr>
          <td>2022</td>
          <td>Bullet Club</td>
          <td>Zac Gallen</td>
          <td>The Red Barons</td>
          <td>The Red Barons</td>
          <td>Undead Rabbits</td>
          <td>Aaron Judge</br><small>Chinballs</small></td>
          <td>Justin Verlander</br><small>Shaolin Schmeckles</small></td>
          <td>Julio Rodriguez</br><small>Bullet Club</small></td>
        </tr>

        <tr>
          <td>2021</td>
          <td>Chinballs</td>
          <td>Nick Castellanos</td>
          <td>Chinballs</td>
          <td>Chinballs</td>
          <td>Undead Rabbits</td>
          <td>Vladimir Guerrero Jr.</br><small>Nixon's Nasty Ninjas</small></td>
          <td>Max Scherzer</br><small>The Red Barons</small></td>
          <td>Jonathan India</br><small>Bridge Four</small></td>
        </tr>

        <tr>
          <td>2020</td>
          <td>Ye Olde Tom Toolshed</td>
          <td>Adalberto Mondesi</td>
          <td>Purple Cobras</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>Freddie Freeman</br><small>The Bluth Company</small></td>
          <td>Shane Bieber</br><small>Cowboys From Hell</small></td>
          <td>Kyle Lewis</br><small>Ye Olde Tom Toolshed</small></td>
        </tr>

        <tr>
          <td>2019</td>
          <td>The Bluth Company</td>
          <td>Max Muncy</td>
          <td>Ye Olde Tom Toolshed</td>
          <td>Ye Olde Tom Toolshed</td>
          <td>The Bluth Company</td>
          <td>Justin Verlander</br><small>Purple Cobras</small></td>
          <td>Christian Yelich</br><small>Scranton Yankees</small></td>
          <td>Pete Alonso</br><small>Bullet Club</small></td>
        </tr>

        <tr>
          <td>2018</td>
          <td>The Bluth Company</td>
          <td>Freddie Freeman</td>
          <td>The Bluth Company</td>
          <td>Hill Valley PS</td>
          <td>The Bluth Company</td>
          <td>Mookie Betts</br><small>Supreme Clientele</small></td>
          <td>Jacob deGrom</br><small>Scranton Yankees</small></td>
          <td>Shohei Ohtani</br><small>Jon Voight's Car</small></td>
        </tr>

        <tr>
          <td>2017</td>
          <td>Supreme Clientele</td>
          <td>Carlos Carrasco</td>
          <td>Purple Cobras</td>
          <td>Supreme Clientele</td>
          <td>Purple Cobras</td>
          <td>Giancarlo Stanton</br><small>Hill Valley PS</small></td>
          <td>Corey Kluber</br><small>Purple Cobras</small></td>
          <td>Aaron Judge</br><small>Kimble's Kids</small></td>
        </tr>

        <tr>
          <td>2016</td>
          <td>Purple Cobras</td>
          <td>Justin Verlander</td>
          <td>Purple Cobras</td>
          <td>Supreme Clientele</td>
          <td>Purple Cobras</td>
          <td>Mike Trout</br><small>The Bluth Company</small></td>
          <td>Max Scherzer</br><small>Bridge Four</small></td>
          <td>Corey Seager</br><small>Scranton Yankees</small></td>
        </tr>

        <tr>
          <td>2015</td>
          <td>Shaolin Schmeckles</td>
          <td>Adrian Beltre</td>
          <td>Purple Cobras</td>
          <td>Cowboys From Hell</td>
          <td>Purple Cobras</td>
          <td>Bryce Harper</br><small>Banana Hammock</small></td>
          <td>Clayton Kershaw</br><small>Geckos</small></td>
          <td>Kris Bryant</br><small>The Red Barons</small></td>
        </tr>

        <tr>
          <td>2014</td>
          <td>Jon Voight's Car</td>
          <td>C. Gomez</td>
          <td>Nixon's Nasty Ninjas</td>
          <td>Nixon's Nasty Ninjas</td>
          <td>Scranton Yankees</td>
          <td>Mike Trout</br><small>The Bluth Company</small></td>
          <td>Clayton Kershaw</br><small>Geckos</small></td>
          <td>Jose Abreu</br><small>Kimble's Kids</small></td>
        </tr>

        <tr>
          <td>2013</td>
          <td>Scranton Yankees</td>
          <td>C. Lee</td>
          <td>Purple Cobras</td>
          <td>Shaolin Schmeckles</td>
          <td>Purple Cobras</td>
          <td>Chris Davis</br><small>Cowboys From Hell</small></td>
          <td>Clayton Kershaw</br><small>Geckos</small></td>
          <td>Jose Fernandez</br><small>Cowboys From Hell</small></td>
        </tr>

        <tr>
          <td>2012</td>
          <td>Purple Cobras</td>
          <td>J. Verlander</td>
          <td>Purple Cobras</td>
          <td>Scranton Yankees</td>
          <td>Purple Cobras</td>
          <td>Mike Trout</br><small>The Bluth Company</small></td>
          <td>R.A. Dickey</br><small>Geckos</small></td>
          <td>Mike Trout</br><small>The Bluth Company</small></td>
        </tr>

        <tr>
          <td>2011</td>
          <td>Nixon's Nasty Ninjas</td>
          <td>J. Ellsbury</td>
          <td>Purple Cobras</td>
          <td>Geckos</td>
          <td>Purple Cobras</td>
          <td>Matt Kemp</br><small>Shaolin Schmeckles</small></td>
          <td>Justin Verlander</br><small>Purple Cobras</small></td>
          <td>Craig Kimbrel</br><small>Dead Rabbits</small></td>
        </tr>

        <tr>
          <td>2010</td>
          <td>Purple Cobras</td>
          <td>J. Bruce</td>
          <td>Purple Cobras</td>
          <td>Geckos</td>
          <td>Purple Cobras</td>
          <td>Joey Votto</br><small>Black Thirteen</small></td>
          <td>Roy Halladay</br><small>Geckos</small></td>
          <td>Neftali Feliz</br><small>Purple Cobras</small></td>
        </tr>

        <tr>
          <td>2009</td>
          <td>Shawntendo All-Stars</td>
          <td>F. Hernandez</td>
          <td>Purple Cobras</td>
          <td>Chinballs</td>
          <td>Purple Cobras</td>
          <td>Albert Pujols</br><small>Chinballs</small></td>
          <td>Zack Greinke</br><small>Banana Hammock</small></td>
          <td>Andrew Bailey</br><small>Dead Rabbits</small></td>
        </tr>

        <tr>
          <td>2008</td>
          <td>Shawntendo All-Stars</td>
          <td>J. Lester</td>
          <td>Chinballs</td>
          <td>Chinballs</td>
          <td>Shawntendo</td>
          <td>Albert Pujols</br><small>Chinballs</small></td>
          <td>Cliff Lee</br><small>Cowboys From Hell</small></td>
          <td>Geovany Soto</br><small>Absolut Monks</small></td>
        </tr>

        <tr>
          <td>2007</td>
          <td>Nixon's Nasty Ninjas</td>
          <td>J. Vazquez</td>
          <td>Geckos</td>
          <td>Geckos</td>
          <td>Dead Rabbits</td>
          <td>Alex Rodriguez</br><small>1993 Phillies</small></td>
          <td>Jake Peavy</br><small>Nick's Nighthawks</small></td>
          <td>Ryan Braun</br><small>Young T. Toolsheds</small></td>
        </tr>

        <tr>
          <td>2006</td>
          <td>Geckos</td>
          <td>B. Myers</td>
          <td>Geckos</td>
          <td>Geckos</td>
          <td>Dead Rabbits</td>
          <td>Ryan Howard</br><small>Fo' Shizzle</small></td>
          <td>Johan Santana</br><small>Cowboys From Hell</small></td>
          <td>Jonathan Papelbon</br><small>Dead Rabbits</small></td>
        </tr>

        <tr>
          <td>2005</td>
          <td>Geckos</td>
          <td>T. Hafner</td>
          <td>Geckos</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>Alex Rodriguez</br><small>1993 Phillies</small></td>
          <td>Chris Carpenter</br><small>Wyld Stallyns</small></td>
          <td>Huston Street</br><small>Men of the Frost</small></td>
        </tr>

        <tr>
          <td>2004</td>
          <td>Nixon's Nasty Ninjas</td>
          <td>B. Sheets</td>
          <td>Nixon's Nasty Ninjas</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>Albert Pujols</br><small>Killarney Killers</small></td>
          <td>Johan Santana</br><small>Cowboys From Hell</small></td>
          <td>Jason Bay</br><small>Yao's Great Wall</small></td>
        </tr>

        <tr>
          <td>2003</td>
          <td>Cowboys From Hell</td>
          <td>E. Gagne</td>
          <td>Cowboys From Hell</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>Albert Pujols</br><small>Killarney Killers</small></td>
          <td>Roy Halladay</br><small>Geckos</small></td>
          <td>Brandon Webb</br><small>Cowboys From Hell</small></td>
        </tr>

        <tr>
          <td>2002</td>
          <td>Cowboys From Hell</td>
          <td>T. Glaus</td>
          <td>Geckos</td>
          <td>N/A</td>
          <td>N/A</td>
          <td>Vladimir Guerrero</br><small>Sultans of Naught</small></td>
          <td>Randy Johnson</br><small>Killarney Killers</small></td>
          <td>Eric Hinske</br><small>Geckos</small></td>
        </tr>

      </table>
    </div>
  </div>
</div>