<div class="center jumbotron">
  <h1>Welcome to the Franklin Fantasy Baseball League</h1>

  <h2>Your home for competitive Fantasy Baseball</h2>

  <%= link_to "Log In", '#', class: "btn btn-lg btn-primary" %>
  
</div>

