<% provide(:title, "Player Records") %>

<div class="container content-container">
  <div class="row">
    <div class="col-sm-12 center">
      <h1>All-Time Player Records</h1>
    </div>

    <div class="col-sm-6 give-me-top-margin">
      <div class="fluid-container record-container">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Runs</h2>
            <h1>13</h1>
          </div>
          <div class="col-sm-2 center">
            <h4>2006</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Carlos Beltran</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Nixon's Nasty Ninjas</h4>
          </div>
          <div class="col-sm-2 center">
            <h4>2006</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Chase Utley</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Dead Rabbits</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Home Runs</h2>
            <h1>9</h1>
          </div>
          <div class="col-sm-2 center">
            <h4>2012</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Josh Hamilton</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Scranton Yankees</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">RBI</h2>
            <h1>19</h1>
          </div>
          <div class="col-sm-2 center">
            <h4>2013</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Hunter Pence</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Nixon's Nasty Ninjas</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Stolen Bases</h2>
            <h1>11</h1>
          </div>
          <div class="col-sm-2 center">
            <h4>2009</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Carl Crawford</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Dead Rabbits</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Average</h2>
            <h1>.700</h1>
          </div>
          <div class="col-sm-2 center">
            <h4>2005</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Edgar Renteria</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Young Tommy Toolsheds</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">OPS</h2>
            <h1>2.271</h1>
          </div>
          <div class="col-sm-2 center">
            <h4>2006</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Jason Giambi</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Grove Street OGs</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 give-me-top-margin">
      <div class="fluid-container record-container">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Wins</h2>
            <h1>3</h1>
          </div>
          <div class="col-sm-2 center">
            <h4>2005</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Derrick Turnbow</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Geckos</h4>
          </div>
          <div class="col-sm-2 center">
            <h4>2010</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Tyler Clippard</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Shawntendo All-Stars</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Saves</h2>
            <h1>5</h1>
          </div>
          <div class="col-sm-2 center">
            <h4>2000s</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>6 Players Tied</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Unknown</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Ks</h2>
            <h1>26</h1>
          </div>
          <div class="col-sm-2 center">
            <h4>2000s</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>3 Players Tied</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Unknown</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">ERA</h2>
            <h1>0.00 (18 IP)</h1>
          </div>
          <div class="col-sm-2 center">
            <h4>2005</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Mark Mulder</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>The 1993 Philadelphia Phillies</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">WHIP</h2>
            <h1>0.00 (9 IP)</h1>
          </div>
          <div class="col-sm-2 center">
            <h4>2009</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Jonathan Sanchez</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Chinballs</h4>
          </div>
          <div class="col-sm-2 center">
            <h4>2012</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Matt Cain</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Purple Cobras</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">K/BB</h2>
            <h1>INF (26 Ks)</h1>
          </div>
          <div class="col-sm-2 center">
            <h4>2015</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Chris Archer</h4>
          </div>
          <div class="col-sm-5 center">
            <h4>Dead Rabbits</h4>
          </div>
        </div>
      </div>

    </div>

    <div class="col-sm-12 center give-me-top-margin pad-my-bottom">
      <small>Note:  Individual ERA and WHIP require a minimum of 6.0 IP.  Individual AVG and OPS require a minimum of 20 PA.</small>
    </div>
  </div>
</div>