<% provide(:title, "Player Records") %>

<div class="container content-container">
  <div class="row">
    <div class="col-sm-12 center">
      <h1>All-Time Player Records</h1>
    </div>

    <div class="col-sm-10 col-sm-offset-1 give-me-top-margin">
      <table class="table">
        <tr class="table-header">
          <th></th>
          <th>RECORD</th>
          <th>PLAYER</th>
          <th>TEAM</th>
          <th>SEASON</th>
        </tr>

        <tr>
          <td>R</td>
          <td>13</td>
          <td>
            <p>Beltran, Carlos</p>
            <p>Utley, Chase</p>
          </td>
          <td>
            <p>Nixon's Nasty Ninjas</p>
            <p>Dead Rabbits</p>
          </td>
          <td>
            <p>2006</p>
            <p>2006</p>
          </td>
        </tr>

        <tr>
          <td>HR</td>
          <td>9</td>
          <td>Hamilton, Josh</td>
          <td>Scranton Yankees</td>
          <td>2012</td>
        </tr>

        <tr>
          <td>RBI</td>
          <td>19</td>
          <td>Pence, Hunter</td>
          <td>Nixon's Nasty Ninjas</td>
          <td>2013</td>
        </tr>

        <tr>
          <td>SB</td>
          <td>11</td>
          <td>Crawford, Carl</td>
          <td>Dead Rabbits</td>
          <td>2009</td>
        </tr>

        <tr>
          <td>AVG</td>
          <td>.700</td>
          <td>Renteria, Edgar</td>
          <td>Young Tommy Toolsheds</td>
          <td>2005</td>
        </tr>

        <tr>
          <td>OPS</td>
          <td>2.271</td>
          <td>Giambi, Jason</td>
          <td>Grove Street OGs</td>
          <td>2006</td>
        </tr>

        <tr>
          <td>W</td>
          <td>3</td>
          <td>
            <p>Turnbow, Derrick</p>
            <p>Clippard, Tyler</p>
          </td>
          <td>
            <p>Geckos</p>
            <p>Shawntendo All-Stars</p>
          </td>
          <td>
            <p>2005</p>
            <p>2010</p>
          </td>
        </tr>

        <tr>
          <td>SV</td>
          <td>5</td>
          <td>Six Players Tied</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>

        <tr>
          <td>K</td>
          <td>26</td>
          <td>Three Players Tied</td>
          <td>N/A</td>
          <td>N/A</td>
        </tr>

        <tr>
          <td>ERA</td>
          <td>0.00 <small>(18 IP)</small></td>
          <td>Mulder, Mark</td>
          <td>1993 Philadelphia Phillies</td>
          <td>2005</td>
        </tr>

        <tr>
          <td>WHIP</td>
          <td>0.00 <small>(9 IP)</small></td>
          <td>
            <p>Sanchez, Jonathan</p>
            <p>Cain, Matt</p>
          </td>
          <td>
            <p>Chinballs</p>
            <p>Purple Cobras</p>
          </td>
          <td>
            <p>2009</p>
            <p>2012</p>
          </td>
        </tr>

        <tr>
          <td>K/BB</td>
          <td>INF <small>(26 Ks)</small></td>
          <td>Archer, Chris</td>
          <td>Dead Rabbits</td>
          <td>2015</td>
        </tr>

      </table>
    </div>
    <div class="col-sm-12 center give-me-top-margin pad-my-bottom">
      <small>Note:  Individual ERA and WHIP require a minimum of 6.0 IP.  Individual AVG and OPS require a minimum of 20 PA.</small>
    </div>
  </div>
</div>