<% provide(:title, "Rules") %>
<div class="container content-container">
  <div class="row">
    <div class="col-sm-12 center">
      <h1>Rules & Regulations</h1>
    </div>

    <div class="col-sm-10 col-sm-offset-1 history  minor-rule">

      <p class="give-me-top-margin">Though most of Franklin Fantasy Baseball’s operations are run through Yahoo!'s fantasy game site and therefore run concurrent to official Yahoo! rules, there exist a host of additional rules, regulations and protocol by which every FFBL manager must abide. Please note that all FFBL rules and regulations run concurrent to Yahoo! Fantasy Baseball rules and regulations, except  as defined below. Violation of league policy will result in the freezing of the offending manager's roster until the situation is rectified, unless otherwise specified, though the nature of all punishments is subject to the Commissioner's discretion. The acting FFBL Commissioner maintains the right to alter, define, interpret, override or otherwise affect all rules at any time as he sees fit.</p>
      <p>The following rules are unique and binding for the Franklin Fantasy Baseball League, herein referred to as "Franklin Fantasy" or "FFBL":</p>

      <h3 class="give-me-top-margin underline-me">Trades:</h3>
      <p>All managers will be notified of pending trades either on their Yahoo! team pages, via Commissioner’s note or via email. Managers will then have the option of voting to veto said trade during its two-day pending period.</p>
      <p>If eight legitimate vetoes, or half the league, are received for any one trade, that trade will automatically be canceled by the Commissioner after the pending period has ended. Also, if anywhere from four to seven vetoes are received, the trade will be put under the Commissioner's discretion, where he will ultimately decide if those vetoes warrant a trade cancellation. If no vetoes are received within 24 hours of the trade being accepted, the Commissioner then has the power to approve and complete the deal at any time within the succeeding 24 hours, at his discretion. No veto is considered official unless it is posted on the league message board, and the Commissioner reserves the right to challenge the legitimacy of any veto. Note that vetoes should be reserved for circumstances in which foul play is suspected, or a trade is grossly weighted to one side with virtually no chance of improved equality over time.</p>
      <p>A veto is considered “legitimate” only if the voting manager can, and agrees upon request, to defend it in writing through either numerical data (in cases of gross unfairness) or anecdotal evidence (to reveal suspected foul play.)</p>
      <p>Also note that any party directly involved in a trade reserves the right to cancel the trade within 24 hours of its being accepted, provided the acceptance of said trade was made in error. The Commissioner’s office MUST receive such an appeal via email within 24 hours for it to become valid, along with proof (if requested) of the error. A trade is considered “accepted” only after both parties have notified the Commissioner’s office and the Commissioner has officially acknowledged the trade via message board post or email, or if both sides agree to a Major League-exclusive deal through the Yahoo! Web site.</p>
      <p>Supplemental draft picks may be traded, but only for the next two scheduled drafts; picks within drafts more than two years in the future may not be traded.</p>

      <h3 class="give-me-top-margin underline-me">Adds/Drops:</h3>
      <p>Any team may add or drop a Major League player to their Major League team at any time during the regular season and preseason periods as allowed by Yahoo!'s free agent and waiver rules.</p>
      <p>To add a players to a minor league affiliate, managers must submit a waiver claim to the Commissioner's Office.</p>
      <p>To add a minor league player, managers must email the Commissioner's Office at any time requesting the rights to said player, including the player’s full name, MLB parent club and date of birth. The Commissioner will pool together requests, and process them all at the same time each week. The deadline for weekly submissions is 12 p.m. ET every Tuesday. If no other manager attempts to claim a player within that time, said player will clear waivers, and he will be signed to his new team via free agency. However, if two or more teams attempt to claim the same player within the same add period, then the manager with the highest minor league waiver priority will be awarded said player and his waiver priority will be reset to 16. Please note that if a manager adds said player to his Major League roster through the Yahoo! Major League database while a minor league add is pending, the minor league request is overridden in favor of the Major League pickup. No player on Major League waivers may be added to a minor league team.</p>
      <p>Teams may request no more than two minor league players per week.</p>
      <p>Players selected in the annual MLB First-Year Player Draft, along with international free agents signed after the start of the regular season, are not eligible for FFBL rosters until the following year's supplemental draft, regardless of whether or not they appear in a the Major League game that same season. Teams may sign and retain international free agents up until Opening Day, at which point they cannot be added until the next year’s Supplemental Draft. If any FFBL team has unsigned international free agents on its roster on Opening Day, said club must drop them at that time.</p>
      <p>Managers are forbidden to add any player currently on another team’s minor league roster to their Major League roster through the Yahoo! Database, and thus are encouraged to reference the Minor League Database before making any Major League adds. If a manager violates this rule, regardless of intent, the illegally added player will be removed from his roster by the Commissioner. The offending manager will lose all rights to any Major League player(s) dropped in order to add the ineligible player, and may be subject to additional punishment based upon the nature, intention or severity of his infraction.</p>
      <p>During postseason play, all active teams will be limited to three Major League transactions per week. Not that a transaction consists only of a player "add," regardless of whether or not it is combined with a corresponding "drop." Requests for more than three transactions in a given week may be petitioned to the Commissioner and approved at his discretion.</p>

      <h3 class="give-me-top-margin underline-me">Minor Leagues:</h3>
      <p>All organizations consist of three minor league teams in addition to a 25-man Major League roster and disabled list. Minor league teams have different eligibility requirements, as follows:</p>

      <h4 class="give-me-top-margin underline-me">AAA</h4>
      <ul>
        <li>-6-Player Roster</li>
        <li>-No player may exceed 25 years of age</li>
        <li>UNLESS: Said player has fewer than 130 career Major League at-bats or 50 career Major League innings pitched</li>
        <li>OR: Said player currently plays for an MLB-affiliated minor league team.</li>
        <li>-No player may exceed 650 Major League at-bats (hitters), 250 Major League innings pitched (starters), or 85 appearances (relievers), unless he currently plays for an MLB-affiliated minor league team.</li>
        <li>-Players MUST be affiliated with an MLB team. (Foreign and amateur players are not eligible for FFBL minor leagues.)</li>
      </ul>

      <h4 class="give-me-top-margin underline-me">AA</h4>
      <ul>
        <li>-6-Player Roster</li>
        <li>-No player may exceed 24 years of age.</li>
        <li>-No player may exceed 650 Major League at-bats (hitters), 250 Major League innings pitched (starters), or 85 appearances (relievers).</li>
      </ul>

      <h4 class="give-me-top-margin underline-me">A</h4>
      <ul>
        <li>-6-Player Roster</li>
        <li>-No player may exceed 22 years of age.</li>
        <li>-No player may have ANY Major League experience.</li>
      </ul>

      <p class="indent-small">Major League players on minor league rehab assignment are not eligible for the Franklin Fantasy minor leagues.</p>

      <h4 class="give-me-top-margin underline-me">Promotion/Demotion Restrictions</h4>
      <ul>
        <li>-Players may be demoted at any time, provided they fulfill every requirement of the level to which they are being demoted.</li>
        <li>-Players may be promoted or demoted any number of levels, at any time.</li>
        <li>-Any player who has been demoted from MLB to the minor leagues may not be promoted back to the level from which he was promoted until a period of 10 days has passed.</li>
        <li>-Players added at the Major League level through free agency or waivers may not be demoted to an eligible minor league affiliate until 10 days have passed.</li>
      </ul>

      <p class="indent-small">Please note that if a player becomes ineligible for his current roster for any reason at any point in the year, he will be allowed to remain at that level for the remainder of the current season. However, once promoted, he may not be demoted to any Minor League level unless he regains eligibility.</p>
      <p class="indent-small">When demoting a player from MLB to AAA, managers must drop that player and immediately inform both the Commissioner and all league managers via email. Failure to do so within 24 hours will result in a forfeiture of the rights to that player (subject to Commissioner’s discretion).</p>

      <h3 class="give-me-top-margin underline-me">League Settings:</h3>
      <p>FFBL utilizes a head-to-head scoring format, with weekly points based upon six statistical categories each for hitting (batting average, runs scored, home runs, runs batted in, stolen bases, OPS) and pitching (wins, strikeouts, earned run average, walks and hits per inning pitched, strikeout-to-walk ratio, saves). All rules and tiebreaking procedures run concurrent to those of the Yahoo! system.</p>
      <p>The positions in the league are: C, 1B, 2B, 3B, SS, OF, OF, OF, UTIL, UTIL; and SP, SP, SP, RP, RP, RP, P, P. Please note that all three relief pitchers must at all times be occupied by a player who is not scheduled to start; therefore, no one team can have any more than five scheduled starters on any one day. Any violations of this rule should at once be noted to the Commissioner's Office so that the violating pitcher can be immediately benched. If a violation is not reported in due course, the rule will be negated in that specific instance due to uncontrollable circumstances. Please note that multiple reported infractions of the relief pitcher rules can and will result in added punishments, including, but not limited to, suspension at the Commissioner's discretion.</p>
      <p>There are also five Yahoo! DL spots, all of which may be used in compliance with Yahoo! Rules and regulations, and an unlimited number of 60-day DL slots monitored through this site. A player placed on the 60-day DL cannot be removed until after 60 days have passed, regardless of his current status on a Major League DL. However, players may only be placed on the 60-day DL only if they hold Major League DL status at the time of their placement*, and have either A) played at least one active game for their current team during the year, or B) were acquired either via preseason draft or trade and did not play in a game prior to their MLB assignment to the disabled list. No player who has appeared in a professional game at any level within the previous two weeks, on an official rehabilitation assignment or otherwise, may be placed on the 60-Day DL. If a player on the 60-day DL is eligible to be reinstated for fantasy purposes and is no longer assigned to an MLB disabled list, he must be activated in FFBL within seven (7) days or his parent team’s roster will be frozen until reinstatement. Provided they meet all other criteria, moves may be made retroactive to the date of original MLB DL assignment. Any manager who wishes to place a player on the 60-Day DL must notify the league through a message board post, as well as the Commissioner's Office via email, at the time of the transaction. Failure to do so may result in the loss of rights to said player, at the Commissioner’s discretion.</p>
      <p>*Corollary to the 60-Day DL rule: in the month of September, a player may be placed on the FFBL 60-Day DL if documented mainstream media evidence exists that said player, without doubt, will miss the rest of the season due to injury. A player may also go on the 60-Day DL before the start of the season if it is clear, given similar evidence, that he will miss at least six weeks to start the season. Preseason assignments to the 60-Day DL will receive automatic backdates to 60 days before Opening Day. Injury is the only acceptable prerequisite for all situations listed in this corollary.</p></br>
      <p>FFBL utilizes two eight-team leagues, the American and the National. The winners of each league must hold a postseason draft to decide which teams will be in which division the following year. The draft will snake, with the previous year’s top overall record-holder deciding whether to draft first or last. Neither manager may draft more than four teams, in addition to his own, with .500 or better records the year before.</p>
      <p>The spirit of Franklin Fantasy necessitates that every manager attempt to achieve as many wins as possible each week. Any attempt to run counter to this spirit, and to achieve as many losses as possible – or to partake in "tanking" – in an attempt to obtain a better draft pick will result in the loss of that manager's highest-round draft pick. Any suspicions of "tanking" may be reported immediately to the commissioner's office, by any other manager. Said manager must notify the commissioner in the form of a written statement, and said statement should include specific instances in which the offending manager has been partaking in "tanking." Should the commissioner thusly suspect that tanking is taking place, he must notify the suspected offending manager that his managerial decisions are suspect to tanking, within 24 hours of his original notification. Said manager should then have an opportunity to defend these decisions in a statement to the commissioner. The Veterans’ Committee may then read both statements, as well as a neutral statement from the commissioner, outlining both viewpoints, to determine whether a draft pick must be forfeited. Up to five members of the Veterans’ Committee may be included in this decision. Majority vote wins. Only one statement is needed to trigger Commissioner Review, but other statements may be read in conjunction with the original. Any manager submitting a statement cannot be part of the Veterans’ Committee review.</p>

      <h3 class="give-me-top-margin underline-me">Prizes:</h3>
      <p>All managers must submit their league fee prior to opening day of the season. Failure to do so will result in unpaid rosters being frozen, and in extreme cases, suspension at the Commissioner's discretion. League fees of $125 per manager are earmarked  exclusively for cash prizes and web site and domain name hosting. At the end of the season, awards will be distributed as follows (all money amounts in U.S. dollars):</p>

      <ul>
        <li>Franklin Fantasy Champion: $500</li>
        <li>Franklin Fantasy Runner-up: $200</li>
        <li>Franklin Fantasy Third Place: $100</li>
        <li>Division Winners: $200 each</li>
        <li>Wild Card teams: $50 each</li>
      </ul>

      <p class="pad-my-bottom">The pool's remaining $528 will be distributed in $2 increments to the winners of each weekly individual stat category ($2 x 12 statistics x 22 weeks). These prizes will be awarded in bulk at year's end.</p>

    </div>
  </div>
</div>