<% provide(:title, "Rules") %>
<div class="container content-container">
  <div class="row">
    <div class="col-sm-12 center">
      <h1 class="underline-me give-me-top-padding">Rules & Regulations</h1>
    </div>

    <div class="col-sm-10 col-sm-offset-1 history  minor-rule">

      <p class="give-me-top-margin">Though most of the Franklin Fantasy Baseball League’s operations are housed within Yahoo!’s fantasy game site, and therefore run concurrent to official Yahoo! rules, there exist a host of additional rules, regulations and protocol by which FFBL managers must abide. Please note that Yahoo! Fantasy Baseball rules take precedence in all situations, except as defined below. Violation of league policy will result in punishments ranging from warnings to frozen rosters, docked draft picks and ultimately contraction, though the nature of any punishment is subject to Commissioner’s discretion. The acting FFBL Commissioner maintains the right to alter, define, interpret, override or otherwise affect all rules at any time as he sees fit.</p></br>
      <p>The following rules are binding for the Franklin Fantasy Baseball League, herein referred to as “Franklin Fantasy” or “FFBL”:</p></br>

      <h2 class="give-me-top-margin underline-me">League Settings:</h2></br>
      <p>FFBL utilizes a head-to-head scoring format, with weekly points based upon six statistical categories each for hitting (batting average, runs scored, home runs, runs batted in, stolen bases, OPS) and pitching (wins, strikeouts, earned run average, walks and hits per inning pitched, strikeout-to-walk ratio, saves). All rules and tiebreaking procedures run concurrent to those of the Yahoo! system.</p></br>
      <p>Each manager will field a team with the following positions: C, 1B, 2B, 3B, SS, OF, OF, OF, UTIL, UTIL; and SP, SP, SP, RP, RP, RP, P, P. There are also seven bench slots; five Yahoo! IL spots, which may be used in compliance with Yahoo! rules and regulations; two NA slots; and an unlimited number of 60-day IL slots monitored through this site.</p></br>
      <p>Teams are split into two eight-team divisions. The winners of each division must hold a preseason draft the following year to decide which teams will be in which division. The draft will snake, with the previous year’s top overall record-holder deciding whether to draft first or last. Neither manager may select more than five total teams, including his or her own, with .500 or better records the year before.</p></br>
      

      <h3 class="give-me-top-margin underline-me">60-Day IL</h3></br>
      <p>A player placed on the 60-day IL cannot be removed until 60 days have passed, regardless of his status on a Major League 15- or 60-day IL. However, players may only be placed on the FFBL 60-day IL if they hold Major League IL status at the time of their placement*, and have either A) played at least one active game for their current team during the year, or B) were acquired via trade or preseason draft and did not play in a game prior to their MLB assignment to the IL. No player who has appeared in a professional game at any level within the previous two weeks, on an official rehabilitation assignment or otherwise, may be placed on the 60-Day IL. All 60-day IL stints must be made retroactive to a player’s last MLB appearance.</p></br>
      <p>If a player on the 60-day IL is eligible to be reinstated and is no longer assigned to an MLB injured list, he must be activated in FFBL within seven (7) days or his parent team’s roster will be frozen until reinstatement. Any manager who wishes to place a player on the 60-Day IL must notify the league through a message board post, as well as the Commissioner's Office via email, at the time of the transaction. Failure to do so may result in the loss of rights to said player, at the Commissioner’s discretion.</p></br>
      <p>*Corollary to the 60-Day IL rule: in the month of September, a player may be placed on the FFBL 60-Day IL if documented mainstream media evidence exists that said player, without doubt, will miss significant time due to injury or a team-imposed shutdown. A player may also go on the 60-Day IL before the start of the season if it is clear, given similar evidence, that he will begin the season on the Major League IL. Preseason assignments to the 60-Day IL will receive automatic backdates to 60 days before Opening Day.</p></br>
      

      <h3 class="give-me-top-margin underline-me">NA Designation</h3></br>
      <p>The two NA spots may be used for players who fit that designation under Yahoo! rules: those in the minors, in independent leagues, or otherwise unsigned by Major League teams. If a team wishes to use an NA spot for a qualifying player without the Yahoo! Designation, that team must leave one NA spot blank as a placeholder. Failure to do so will result in forfeiture of said player.</p></br>
      <p>Teams may not carry more than one NA player who is not being utilized in an official NA slot on the Yahoo! page. If extenuating circumstances result in a team temporarily having more than one NA player on its active 25-man roster, that club must alert the Commissioner's office. Otherwise, NA players may only be stored only in official NA slots or in the minor leagues (where eligible).</p></br>

      <h2 class="give-me-top-margin underline-me">Minor Leagues:</h2></br>
      <p>All organizations consist of three minor league teams in addition to a 25-man Major League roster and disabled list. Minor league teams have different eligibility requirements, as follows:</p>

      <h4 class="give-me-top-margin underline-me">AAA</h4>
      <ul>
        <li>-6-Player Roster</li>
        <li>-No player may exceed 25 years of age</li>
        <li>UNLESS: Said player has fewer than 130 career Major League at-bats or 50 career Major League innings pitched</li>
        <li>OR: Said player currently plays for an MLB-affiliated minor league team.</li>
        <li>-No player may exceed 650 Major League at-bats (hitters), 250 Major League innings pitched (starters), or 85 appearances (relievers), unless he currently plays for an MLB-affiliated minor league team.</li>
        <li>-Players MUST be affiliated with an MLB team. (Foreign and amateur players are not eligible for FFBL minor leagues.)</li>
      </ul>

      <h4 class="give-me-top-margin underline-me">AA</h4>
      <ul>
        <li>-6-Player Roster</li>
        <li>-No player may exceed 24 years of age.</li>
        <li>-No player may exceed 650 Major League at-bats (hitters), 250 Major League innings pitched (starters), or 85 appearances (relievers).</li>
      </ul>

      <h4 class="give-me-top-margin underline-me">A</h4>
      <ul>
        <li>-6-Player Roster</li>
        <li>-No player may exceed 22 years of age.</li>
        <li>-No player may have ANY Major League experience.</li>
      </ul></br>

      <p class="indent-small">Major League players on minor league rehab assignment are not eligible for the Franklin Fantasy minor leagues.</p></br>
      <p class="indent-small">Players who exceed Minor League eligibility requirements may remain at their current level until the end of the season, until or unless they are promoted. However, no team will be allowed to make a Minor League add if it has an ineligible player anywhere in his system.</p></br>

      <h4 class="give-me-top-margin underline-me">Promotion/Demotion Restrictions</h4></br>
      <ul>
        <li>-Any player who has been demoted from MLB to the minor leagues may not be promoted back to the level from which he was promoted until a period of 10 days has passed. In addition, a single player may be demoted from the Majors to the minors no more than five times over the course of a season.</li></br>
        <li>When demoting a player from MLB to AAA, managers must drop that player from the Yahoo! Site and immediately inform all league managers via message board post, while also updating his team page. Failure to do so within 24 hours will result in a forfeiture of the rights to that player (subject to Commissioner’s discretion).</li>
      </ul></br>

      <h2 class="give-me-top-margin underline-me">Transactions</h2></br>
      <h3 class="give-me-top-margin underline-me">Trades:</h3></br>
      <p>Managers must be notified of all pending trades either on their Yahoo! team pages or via email, depending on the time of year. Managers have the option of voting to veto trades during their pending periods, with any vetoes triggering a review by the Commissioner. Trades may be processed before 24 hours only with the written permission of both managers.</p></br>
      <p>If no vetoes are received within 24 hours of the trade being accepted, the Commissioner gains the power to approve and complete the deal at any time within the succeeding 24 hours, at his discretion. Note that vetoes should be reserved for circumstances in which foul play is suspected, or a trade is grossly weighted to one side with virtually no chance of improved equality over time.</p></br>
      <p>Any party involved in a trade reserves the right to cancel the trade within 24 hours of its acceptance, provided that acceptance was made in error. The Commissioner’s office MUST receive such appeals via email within 24 hours for them to become valid, along with proof (if requested) of the error made. A trade is considered “accepted” only after both parties have notified the Commissioner’s office for a deal involving draft picks or minor leaguers, or if both sides agree to a Major League-exclusive deal through the Yahoo! Web site.</p></br>
      <p>Supplemental draft picks may be traded, but only for the next two scheduled drafts; picks within drafts more than two years in the future may not be traded. Major League waiver priorities may also be traded.</p></br>

      <h3 class="give-me-top-margin underline-me">Adds/Drops:</h3></br>
      <p>Any team may add or drop a Major League player to their Major League team at any time during the regular season and preseason periods, as allowed by Yahoo!’s free agent and waiver rules. Major League adds are not allowed from the last day of the Franklin Fantasy postseason until after the next year’s Supplemental Draft. If a player is on waivers in Yahoo!’s system, he may not be added to either a Major or minor League team until he has cleared the aforementioned web site. Similarly, players dropped from the minor leagues may not be added to another team until 24 hours have passed. Violations can be reported to the Commissioner’s office. Statute of limitations is an additional 24 hours from the time of the offending transaction.</p></br>
      <p>Managers may add eligible minor leaguers at any time using the league’s official web site, FranklinFantasy.com. Players not in the database may be added by sending an email to both ffblwebsite@gmail.com and commissioner@franklinfantasy.com with the requested player’s full name, MLB affiliation, position and date of birth. Adds are processed in chronological order, provided the requesting team has a free spot in his or her minor leagues. If no free spot is available, the request will not be processed; or, in the event of multiple requests for the same player, said player will fall to the next request in line. Teams may not add more than three minor league players in any given week (Monday through Sunday).</p></br>
      <p>Players selected in the annual MLB First-Year Player Draft, along with international free agents signed after the start of the regular season, are not eligible for FFBL rosters until the following year's supplemental draft, regardless of whether they appear in a Major League game that same season. Teams may sign and retain international free agents until Opening Day, at which point they cannot be added until the next year’s Supplemental Draft. If any FFBL team has unsigned international free agents on its roster at the start of the year’s first MLB game, said players will automatically be dropped at that time.</p></br>
      <p>If a manager accidentally adds a player to his Yahoo! Team from another team’s farm system, he will lose all rights to any Major League player(s) dropped in order to add the ineligible player. (Commissioner’s discretion applies.)</p></br>
      <p>During postseason play, all active teams will be limited to five Major League transactions per week. Not that a transaction consists only of a player “add,” regardless of whether or not it is combined with a corresponding “drop.” Requests for more than five transactions in a given week may be petitioned to the Commissioner and approved at his discretion.</p></br>

      <h3 class="give-me-top-margin underline-me">Additional Rules:</h3></br>
      <p>The spirit of FFBL necessitates that every manager attempt to achieve as many wins as possible each week. Any attempt to run counter to this spirit, and to achieve as many losses as possible -- or to partake in “tanking” -- in an attempt to obtain a better draft pick will result in the loss of that manager's highest-round draft pick. Any suspicions of tanking may be reported immediately to the Commissioner’s Office for punishment at his discretion.</p></br>
      <p>To guard against tanking, the league enforces two weekly minimums: 36 innings for pitchers and 185 at-bats for hitters. The latter minimum may be waived if clear evidence exists that a team failed to meet said minimum for strategic reasons pertaining only to the desire to win more games that specific week. The former minimum cannot be waived under any circumstances. Failure to meet these minimums will result in the following punishments:</p></br>

      <ul>
        <li>First offense: Warning</li>
        <li>Second offense: Loss of next available third-round pick</li>
        <li>Third offense and every offense thereafter: Loss of next available first-round pick</li>
      </ul></br>

      <p>If a manager has no available picks to forfeit, the commissioner may cut comparable prospects from that team’s roster at his discretion.</p></br>


      <h2 class="give-me-top-margin underline-me">Supplemental Draft</h2></br>
      <p>Each January, league managers must cut their rosters down to 40 total players before a deadline announced by the Commissioner’s Office. An annual, five-round Supplemental Draft will follow, with the pool of eligible players including all cut players; all MLB Rule 4 Draft picks from the prior season; and all available international players*. The Supplemental Draft order will be determined by a Draft Lottery.</p></br>
      <p>*If any international players selected in the Supplemental Draft are not affiliated with an MLB team by Opening Day, they will be automatically dropped and placed into the following year’s Supplemental Draft pool.</p></br>
      

      <h2 class="give-me-top-margin underline-me">Prizes:</h2></br>
      <p>All managers must submit their league fee prior to opening day of the season. Failure to do so will result in unpaid rosters being frozen, and in extreme cases, suspension at the Commissioner's discretion. League fees of $150 per manager are earmarked exclusively for cash prizes and web site and domain name hosting. At the end of the season, awards will be distributed as follows (all money amounts in U.S. dollars):</p></br>

      <ul>
        <li>Franklin Fantasy Champion: $750</li>
        <li>Franklin Fantasy Runner-up: $350</li>
        <li>Franklin Fantasy Third Place: $150</li>
        <li>Division Winners: $300 each</li>
        <li>Wild Card teams: $100 each</li>
      </ul></br>

    </div>
  </div>
</div>