<% provide(:title, "Team Records") %>

<div class="container content-container">
  <div class="row">
    <div class="col-sm-12 center">
      <h1>All-Time Team Records</h1>
    </div>

    <div class="col-sm-6 give-me-top-margin">
      <div class="fluid-container record-container">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Runs</h2>
            <h1>65</h1>
          </div>
          <div class="col-sm-3 center">
            <h4>2017</h4>
          </div>
          <div class="col-sm-9 center">
            <h4>Geckos</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Home Runs</h2>
            <h1>25</h1>
          </div>
          <div class="col-sm-3 center">
            <h4>2019</h4>
          </div>
          <div class="col-sm-9 center">
            <h4>Ye Olde Tom Toolshed</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">RBI</h2>
            <h1>72</h1>
          </div>
          <div class="col-sm-3 center">
            <h4>2019</h4>
          </div>
          <div class="col-sm-9 center">
            <h4>Ye Olde Tom Toolshed</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Stolen Bases</h2>
            <h1>18</h1>
          </div>
          <div class="col-sm-3 center">
            <h4>2024</h4>
          </div>
          <div class="col-sm-9 center">
            <h4>Supreme Clientele</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Average</h2>
            <h1>.386</h1>
          </div>
          <div class="col-sm-3 center">
            <h4>2008</h4>
          </div>
          <div class="col-sm-9 center">
            <h4>Shawntendo All-Stars</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">OPS</h2>
            <h1>1.142</h1>
          </div>
          <div class="col-sm-3 center">
            <h4>2008</h4>
          </div>
          <div class="col-sm-9 center">
            <h4>Shawntendo All-Stars</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 give-me-top-margin">
      <div class="fluid-container record-container">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Wins</h2>
            <h1>12</h1>
          </div>
          <div class="col-sm-3 center">
            <h4>2013</h4>
          </div>
          <div class="col-sm-9 center">
            <h4>The Bluth Company</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Saves</h2>
            <h1>15</h1>
          </div>
          <div class="col-sm-3 center">
            <h4>2015</h4>
          </div>
          <div class="col-sm-9 center">
            <h4>Shaolin Schmeckles</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">Ks</h2>
            <h1>117</h1>
          </div>
          <div class="col-sm-3 center">
            <h4>2023</h4>
          </div>
          <div class="col-sm-9 center">
            <h4>Supreme Clientele</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">ERA</h2>
            <h1>0.60</h1>
          </div>
          <div class="col-sm-3 center">
            <h4>2014</h4>
          </div>
          <div class="col-sm-9 center">
            <h4>Geckos</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">WHIP</h2>
            <h1>0.55</h1>
          </div>
          <div class="col-sm-3 center">
            <h4>2017</h4>
          </div>
          <div class="col-sm-9 center">
            <h4>Purple Cobras</h4>
          </div>
        </div>
      </div>

      <div class="fluid-container record-container give-me-top-margin">
        <div class="row pad-my-bottom">
          <div class="col-sm-12 center pad-my-bottom">
            <h2 class="underline-me">K/BB</h2>
            <h1>13.50</h1>
          </div>
          <div class="col-sm-3 center">
            <h4>2017</h4>
          </div>
          <div class="col-sm-9 center">
            <h4>Purple Cobras</h4>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-12 center give-me-top-margin pad-my-bottom">
      <small>Note:  Team ERA and WHIP require a minimum of 40 IP.  Team AVG and OPS require a minimum of 100 PA.</small>
    </div>
  </div>
</div>