<% provide(:title, "Team Records") %>

<div class="container content-container">
  <div class="row">
    <div class="col-sm-12 center">
      <h1>All-Time Team Records</h1>
    </div>

    <div class="col-sm-8 col-sm-offset-2 give-me-top-margin">
      <table class="table table-striped">
        <tr class="table-header">
          <th></th>
          <th>RECORD</th>
          <th>TEAM</th>
          <th>SEASON</th>
        </tr>
        <tr>
          <td>R</td>
          <td>59</td>
          <td>The 1993 Philadelphia Phillies</td>
          <td>2008</td>
        </tr>

        <tr>
          <td>HR</td>
          <td>20</td>
          <td>
            <p>The 1993 Philadelphia Phillies</p>
            <p>Scranton Yankees</p>
          </td>
          <td>
            <p>2007</p>
            <p>2009</p>
          </td>
        </tr>

        <tr>
          <td>RBI</td>
          <td>71</td>
          <td>Nixon's Nasty Ninjas</td>
          <td>2006</td>
        </tr>

        <tr>
          <td>SB</td>
          <td>17</td>
          <td>
            <p>Dead Rabbits</p>
            <p>Shaolin Schmeckles</p>
          </td>
          <td>
            <p>2009</p>
            <p>2010</p>
          </td>
        </tr>

        <tr>
          <td>AVG</td>
          <td>.386</td>
          <td>Shawntendo All-Stars</td>
          <td>2008</td>
        </tr>

        <tr>
          <td>OPS</td>
          <td>1.142</td>
          <td>Shawntendo All-Stars</td>
          <td>2008</td>
        </tr>

        <tr>
          <td>W</td>
          <td>12</td>
          <td>The Bluth Company</td>
          <td>2013</td>
        </tr>

        <tr>
          <td>SV</td>
          <td>15</td>
          <td>Shaolin Schmeckles</td>
          <td>2015</td>
        </tr>

        <tr>
          <td>K</td>
          <td>116</td>
          <td>The Bluth Company</td>
          <td>2014</td>
        </tr>

        <tr>
          <td>ERA</td>
          <td>0.60</td>
          <td>Geckos</td>
          <td>2014</td>
        </tr>

        <tr>
          <td>WHIP</td>
          <td>0.69</td>
          <td>Cowboys From Hell</td>
          <td>2014</td>
        </tr>

        <tr>
          <td>K/BB</td>
          <td>12.75</td>
          <td>Scranton Yankees</td>
          <td>2012</td>
        </tr>

      </table>
    </div>
    <div class="col-sm-12 center give-me-top-margin pad-my-bottom">
      <small>Note:  Team ERA and WHIP require a minimum of 40 IP.  Team AVG and OPS require a minimum of 100 PA.</small>
    </div>
  </div>
</div>