<% provide(:title, "Website Tutorial") %>

<div class="container">
  <div class="row content-container">
    <div class="col-sm-10 col-sm-offset-1 center">
      <h1>Using the FFBL Website</h1>
    </div>
    <div class="col-sm-10 col-sm-offset-1">
      <h3 class="underline-me">General:</h3>
      <p>You are responsible for your own roster.  The Yahoo! team pages are, and always will be, the official MLB rosters for FFBL, but do your best to have your team page here reflect your current roster.  This website contains official MiLB rosters, and you can now make MiLB moves at any time on your own.
      <p class=pad-my-bottom>When logged in, under the My FFBL menu there is the option to Update Team Info.  Here is where you can enter/update your team names, change your password, and also add any info you would like to about your team (ie, awards, recognitions, best finishes, etc.)
      
      <h3 class="underline-me give-me-top-margin">Trades:</h3> 
      <p>Please do not drop/add players involved in a trade.  This site is set up to save and display any/all trades, but they must be processed properly for this to work.  Email all trades to ffblwebsite@gmail.com and adicomo@gmail.com, and they will be processed for you.
      <p class="pad-my-bottom">If you want to search for specific trades or transactions, you can do so either on the home page, or on the transactions page.  Just enter the first or last name of the player, or the FFBL team involved, and the results will display.  If you want to see trade details, just click where it says TRADE in the list.
      
      <h3 class="underline-me give-me-top-margin">Adding Players:</h3> 
      <p>The majority of MLB and MiLB Players have been added to our database.  If you're looking to add a player who is not listed on our site, please email ffblwebsite@gmail.com and adicomo@gmail.com and we will add him.</p>
      <p>If you are logged in, and a player is available, there will be an Add Player button next to his name in the various Player Lists, and in the Player Search Results.  To add a player, click the button.  On the next page, check which level you'd like to add him to.  Finally, click the Add Player button.</p>
      <p class="pad-my-bottom">The website has some defenses in place to prevent rostering too many players.  You can have up to 31 players on your active MLB roster, and 19 in your MiLB.  (extra 5 spots for Yahoo! DL players, and a single buffer spot so that you can add a player before dropping another).  If you have more than 31 active MLB or 19 MiLB, you won't have the ability to add any players.</p>

      <h3 class="underline-me give-me-top-margin">Dropping Players:</h3>
      <p class="pad-my-bottom">This was designed to prevent accidental drops.  From your team page, click the Drop button next to the player you want to drop.  On the next page, click Drop button to confirm.  Finally, when the window pops up, click OK for the final drop confirmation.</p>

      <h3 class="underline-me give-me-top-margin">Promoting/Demoting/60 Day DL:</h3> 
      <p>From your team page, you can promote, demote, and 60 day DL players.</p>
      <p>To demote a player, click the Demote or DL button next to his name.  On the next page, choose the level you would like to send the player to (if a Date of Birth area displays, that means the player's DOB isn't already on file and you should add it).  Click Update Player, and OK on the window that pops up to confirm the move.</p>
      <p>To promote or alter a MiLB player's level, click the Promote button next to his name.  On the next page, click the level you would like to send him to, then click the Update Player button.
      <p>To 60 Day DL a player, click the Demote or DL button next to his name.  On the next page, choose 60 Day DL from the list.  Add both the start and end date for the DL stint, then click Update Player.</p>
      <p class="pad-my-bottom">YOU SHOULD STILL FOLLOW STANDARD PROCEDURES FOR LETTING THE COMMISH AND LEAGUE KNOW ABOUT 60 DAY DL TRANSACTIONS!</p>

      <h3 class="underline-me give-me-top-margin">Adding Player Information:</h3>
      <p>From your team page, you can add additional information to players.  This can be particularly helpful for your MiLB Players if you want people to know anything about them (ie. ranking, stats, more positions, selling points, etc.).</p>
      <p>To add info, go to your team page and click on the player of interest.  On the next page, you will see 2 sections you can fill out, MLB Organization and Additional Information.  Feel free to add any information you want other teams to know about the player.</p>
      <p class="pad-my-bottom">Any player with Additional Information entered will display with a * next to their name on the team pages.</p>

    </div>
  </div>
</div>