<%= provide(:title, "All Selections") %>
<% if !@books.empty? %>
	<div class= "container content-container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 center">
				<h1>All GLCTAC Selections</h1>
			</div>
			<div class="col-sm-6 col-sm-offset-3 center">
				<%= will_paginate @books %>
			</div>
			<div class="col-sm-8 col-sm-offset-2">
				<%= render 'show_books' %>
			</div>
			<div class="col-sm-6 col-sm-offset-3 center">
				<%= will_paginate @books %>
			</div>
		</div>
	</div>
<% else %>
	<h1> No books yet, please add one</h1>
<% end %>
