<%= provide(:title, "404 Error") %>

<div class="container">
  <div class="row content-container">
    <div class="col-sm-10 col-sm-offset-1 error-page give-me-top-margin pad-my-bottom">
      <%= image_tag("404cat.PNG", :alt => "Kitty Error") %>
    </div>
  </div>
</div>
