<% if @players.count == 0 %>
  <h3>There are no players matching your search.</h3>
  <% if logged_in? %>  
    <p>Check your spelling and try again, or email ffblwebsite@gmail.com to request this player be added to your team and/or the player database.</p>
  <% end %>
<% else %>
  <table class="table">
    <% @players.order(:last_name).each do |player| %>
      <tr>
        <td><%= link_to "#{player.last_name}, #{player.first_name}", player_path(player), class: "player-link" %></td>
        <td><%= player.position.spot %></td>
        <% if logged_in? %>
          <td><%= button_to "Add Player", add_player_path(player), class: "btn btn-add", :method => :get %>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>