<h4>Search Player Database</h4>
<%= form_tag players_path, :method => "get" do %>
	<%= text_field_tag :search, params[:search], placeholder: "Player Last Name", class: "search-text" %>
	<%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
<% end %>