<h4>Search Player Database</h4>
<%= form_tag players_path, :method => "get" do %>
	<%= text_field_tag :search, params[:search], placeholder: "Player Name", class: "search-text" %>
	<div class="give-me-top-margin">
		<%= submit_tag "Search", :name => nil, class: "btn btn-cancel" %>
	</div>
<% end %>