<%= provide(:title, "MLB Database") %>

<h1>All MLB Players</h1>

<ul>
	<% @players.where(level_id: 1).each do |player| %>
	<li>
		<%= player.last_name + ", " + player.first_name + "  --  " + player.position.spot %>
		<% if player.user %>
			<%= link_to player.user.team, user_path(player.user) %>
		<% end %>
	</li>
	<% end %>
</ul>