<div class="container content-container center">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<% if @player.user_id || current_user.admin? %>
				<% provide(:title, "Update #{@player.first_name} #{@player.last_name}") %>
				<% if (@player.user_id == current_user.id) || current_user.admin? %>
					<h2 class="space-my-bottom"><%= "Update #{@player.first_name} #{@player.last_name}'s Status" %></h2>
					<%= render 'edit_player_form' %>
					
				<% else %>
					<h1>Player is owned by <%= @player.user.team %></h1>
					<h3>Trade for him or PISS OFF!!</h3>
					<p class="give-me-top-margin">Did you really think you could edit another team's player?</p></br>
					<small>Like... really??? Why would you even try to do this???</small>
				<% end %>
			<% else %>
				<h2 class="give-me-top-margin space-my-bottom">Unowned players can not be edited like this.</h2>
			<% end %>
		</div>
	</div>
</div>