
<div class="container content-container center">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<% if @player.user_id %>
				<% provide(:title, "Update #{@player.first_name} #{@player.last_name}") %>
				<% if (@player.user_id == current_user.id) || current_user.admin? %>
					<h2 class="space-my-bottom"><%= "Update #{@player.first_name} #{@player.last_name}'s Status" %></h2>
					<%= render 'edit_player_form' %>
					
				<% else %>
					<h1>Player is owned by <%= @player.user.team %>... trade for him or PISS OFF!!</h1>
				<% end %>
			<% else %>
				<h2 class="give-me-top-margin space-my-bottom">Unowned players can not be edited like this.</h2>
			<% end %>
		</div>
	</div>
</div>