<%= provide(:title, @player.first_name + " " + @player.last_name) %>
<% if @player %>
	<div class="container content-container">
		<div class="row give-me-top-padding space-my-bottom">
			<%= render 'individual_player_show' %>
		</div>
	</div>
	<% if logged_in? && @player.user && (@player.user == current_user) %>
		<div class="container content-container">
			<div class="row give-me-top-padding space-my-bottom">
				<%= render 'affiliation_note_form' %>
			</div>
		</div>
	<% end %>

<% else %>
	<div class="container content-container">
		<div class="row center">
			<h1>Player Not Found</h1>
		</div>
	</div>
<% end %>
