<%= provide(:title, "All Levels") %>

<h1>All Levels</h1>

<ul>
	<% @levels.each do |level| %>
		<li><h3><%= level.id %> ==> <%= level.league %>  |  <%= link_to "Delete level", level, method: :delete, data: { confirm: "Delete this level?" } %></h3></li>
	<% end %>
</ul>