<% provide(:title, "New Post") %>
<div class="container content-container">
	<div class="row">
		<div class="col-sm-12 space-my-bottom center">
			<h1>Post New Topic</h1>
		</div>
		<div class="col-sm-8 col-sm-offset-2">
			<%= render 'new_post_form' %>
		</div>
	</div>
</div>
