@import "bootstrap";



/****** UNIVERSAL ******/

body {
  padding-top: 60px;
  color: #cce6cc;
  background: #191919;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

textarea {
  resize: vertical;
}

.content-container {
  background: linear-gradient(#1919ff, #000, #1919ff);
  background: -webkit-linear-gradient(#1919ff, #000, #1919ff);
  background: -o-linear-gradient(#1919ff, #000, #1919ff);
  background: -moz-linear-gradient(#1919ff, #000, #1919ff);
  border-radius: 10px;
  border-top: 1px solid #cce6cc;
  border-left: 2px solid #cce6cc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.post-content {
  overflow: auto;
  border-radius: 10px;
  border-top: 1px solid #cce6cc;
  border-left: 2px solid #cce6cc;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 10px 15px;
  margin-top: 10px;
  margin-left: 10px;
  background: #fff;
  opacity: 0.90;
  color: #000;
  p {
    margin-left: 15px;
  }
}

.response-content {
  overflow: auto;
  border-radius: 10px;
  border-top: 1px solid #cce6cc;
  border-left: 2px solid #cce6cc;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 10px;
  margin-top: 10px;
  margin-left: 50px;
  background: #fff;
  opacity: 0.80;
  color: #000;
  .response-created {
    border-top: 1px solid #000;
  }
}

.match-response-margin {
  margin-left: 35px;
}

.roster-warning {
  background: #b80000;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
}

small {
  font-style: italic;
}


/****** LAYOUT ******/

.jumbotron {
  background: transparent;
  h1 {
    letter-spacing: -1px;
  }
  h3 {
    font-weight: 300;
    font-style: italic;
  }
}

.give-me-top-padding {
  padding-top: 25px;
}

.give-me-top-margin {
  margin-top: 25px;
}

.space-my-bottom {
  margin-bottom: 25px;
}




/****** FOOTER ******/

.main-footer {
  margin-top: 10px;
  padding-top: 25px;
  li {
    list-style-type: none;
  }
  a {
    color: #cce6cc;
    font-style: italic;
    &:hover {
      text-decoration: none;
      color: #fff;
      background: #3c3cff;
    }
  }
}





/****** BUTTONS ******/

.btn-add {
  font-style: italic;
  color: #1919ff;
  background: #cce6cc;
  padding: 2px 5px;
  &:hover {
    color: #3c3cff;
    background: #fff;
  }
}

.btn-cancel {
  color: #1919ff;
  font-weight: 700;
  background: #cce6cc;
  margin-bottom: 10px;
  &:hover {
    color: #3c3cff;
    background: #fff;
  }
}

.btn-drop {
  color: #fff;
  background-color: #d9534f;
  padding: 2px 5px;
  font-style: italic;
  margin-bottom: 10px;
  &:hover {
    color: #fff;
    background-color: #c9302c;
  }
}





/****** LINKS ******/

.team-link {
  color: #cce6cc;
  font-style: italic;
  &:hover {
    text-decoration: none;
    color: #fff;
    background: #3c3cff;
  }
}

.post-link {
  color: #cce6cc;
  &:hover {
    text-decoration: none;
    color: #fff;
    background: #3c3cff;
  }
}


.pagination {
  a {
   color: #1919ff;
   border: 1px solid #000;
   border-radius: 5px;
   padding: 5px 10px;
   margin: 0px 5px;
   background: #cce6cc;
   font-style: italic;
   &:hover {
    text-decoration: none;
    background: #fff;
    }
  }
  .current {
    color: #3c3cff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    background: #fff;
  } 
  .disabled {
    padding: 5px 10px;
    margin: 0px 5px;
  }
}




/****** FORM ******/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: #a94442;
  }
}

.search-text {
  color: #000;
}

.search-title {
  font-style: italic;
  font-size: 1em;
}




/****** TABLE ******/

.table {
  margin-top: 15px;
}



/****** CLEARFIX ******/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
