@import "bootstrap";



/****** UNIVERSAL ******/

body {
  padding-top: 60px;
  color: $ffblfontcolor;
  background: $ffblbodybackground;
}

.jumbotron {
  img {
    max-width: 100%;
    height: auto;
  }
}

.main-footer {
  img {
    max-width: 200px;
    height: auto;
  }
}

.main-image {
  img {
    max-width: 100%;
    height: auto;
  }
}

.minor-image {
  img {
    height: 200px;
    width: auto;
    max-width: 100%;
  }
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

textarea {
  resize: vertical;
}

.content-container {
  background: $ffblcontainerbackground;
  border-radius: 10px;
  border-top: 1px solid #cce6cc;
  border-left: 2px solid #cce6cc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.roster-warning {
  background: $ffblwarningcolor;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
}

.milb-warning {
  background: $ffblwarningcolor;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
}

small {
  font-style: italic;
}



/****** LAYOUT ******/

.jumbotron {
  background: transparent;
  h1 {
    letter-spacing: -1px;
  }
  h3 {
    font-weight: 300;
    font-style: italic;
  }
  margin-bottom: 10px;
}

.give-me-top-padding {
  padding-top: 25px;
}

.give-me-top-margin {
  margin-top: 25px;
}

.space-my-bottom {
  margin-bottom: 25px;
}

.pad-my-bottom {
  padding-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .relative-position {
    position: fixed;
  }
}

.underline-me {
  text-decoration: underline;
}




/****** POSTS ******/

.post-content {
  overflow: auto;
  border-radius: 10px;
  border-top: 1px solid #cce6cc;
  border-left: 2px solid #cce6cc;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 10px 15px;
  margin-top: 10px;
  margin-left: 10px;
  background: #fff;
  opacity: 0.90;
  color: #000;
  p {
    margin-left: 15px;
  }
}

.post-footer {
  border-top: 1px solid #000;
}

.response-content {
  overflow: auto;
  border-radius: 10px;
  border-top: 1px solid #cce6cc;
  border-left: 2px solid #cce6cc;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 10px;
  margin-top: 10px;
  margin-left: 9.33%;
  background: #fff;
  opacity: 0.90;
  color: #000;
  .response-created {
    border-top: 1px solid #000;
  }
}

.match-response-margin {
  margin-left: 7.667%;
}



/****** FOOTER ******/

.main-footer {
  margin-top: 10px;
  padding-top: 25px;
  li {
    list-style-type: none;
  }
  a {
    color: $ffblfontcolor;
    font-style: italic;
    &:hover {
      text-decoration: none;
      color: #fff;
      background: $ffblcontainerbackgroundlight;
    }
  }
}





/****** BUTTONS ******/

.btn-add {
  font-style: italic;
  color: $ffblcontainerbackground;
  background: $ffblfontcolor;
  padding: 2px 5px;
  &:hover {
    color: #3c3cff;
    background: #fff;
  }
}

.btn-cancel {
  color: $ffblcontainerbackground;
  font-weight: 700;
  background: $ffblfontcolor;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  &:hover {
    color: #3c3cff;
    background: #fff;
  }
  a {
    color: #1919ff;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn-drop {
  color: #fff;
  background-color: #d9534f;
  border: 1px solid #000;
  padding: 2px 5px;
  font-style: italic;
  margin-bottom: 10px;
  &:hover {
    color: #fff;
    background-color: #c9302c;
  }
}





/****** LINKS ******/

.team-link {
  color: $ffblfontcolor;
  font-style: italic;
  &:hover {
    text-decoration: none;
    color: #fff;
    background: $ffblcontainerbackgroundlight;
  }
}

.team-non-link {
  color: $ffblfontcolor;
  font-style: italic;
}

.player-link {
  color: $ffblfontcolor;
  &:hover {
    text-decoration: none;
    color: #fff;
    background: $ffblcontainerbackgroundlight;
  }
}

.post-link {
  color: $ffblfontcolor;
  &:hover {
    text-decoration: none;
    color: #fff;
    background: $ffblcontainerbackgroundlight;
  }
}


.pagination {
  a {
   color: #1919ff;
   border: 1px solid #000;
   border-radius: 5px;
   padding: 5px 10px;
   margin: 0px 5px;
   background: $ffblfontcolor;
   font-style: italic;
   &:hover {
    text-decoration: none;
    background: #fff;
    }
  }
  .current {
    color: #3c3cff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    background: #fff;
  } 
  .disabled {
    padding: 5px 10px;
    margin: 0px 5px;
  }
}




/****** FORM ******/


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: #a94442;
  }
}

.search-text {
  color: #000;
}

.search-title {
  font-style: italic;
  font-size: 1em;
}




/****** TABLE ******/

.table {
  margin-top: 15px;
}

.table-header {
  background: #000;
  opacity: 0.50;
}


/****** CUSTOM PAGES ******/

.white-background {
  background-color: white;
}

.cfhhofcontainer {
  background-color: black;
}

.cfhhof {
  background-image: url("2007Logo1.JPG");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: left bottom;
  border-radius: 5px;
  td {
    border: 1px solid white;
    background-color: black;
  }
  img {
    border: 1px solid gray;
  }
}

/****** CLEARFIX ******/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
