@import "bootstrap";

/****** UNIVERSAL ******/

body {
  padding-top: 60px;
  color: #cce6cc;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

textarea {
  resize: vertical;
}

.content-container {
  background: linear-gradient(#1919ff, #000, #1919ff);
  border-radius: 10px;
  border-top: 1px solid #cce6cc;
  border-left: 2px solid #cce6cc;
}


/****** FORM ******/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: #a94442;
  }
}

/****** TABLE ******/

