@import "bootstrap";



/****** UNIVERSAL ******/

body {
  padding-top: 60px;
  color: $ffblfontcolor;
  background: $ffblbodybackground;
}

.jumbotron {
  img {
    max-width: 100%;
    height: auto;
  }
}

.main-footer {
  img {
    max-width: 200px;
    height: auto;
  }
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

textarea {
  resize: vertical;
}

.content-container {
  background: $ffblcontainerbackground;
  border-radius: 10px;
  border-top: 1px solid #cce6cc;
  border-left: 2px solid #cce6cc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.roster-warning {
  background: $ffblwarningcolor;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
}

.milb-warning {
  background: $ffblwarningcolor;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
}

small {
  font-style: italic;
}



/****** LAYOUT ******/

.jumbotron {
  background: transparent;
  h1 {
    letter-spacing: -1px;
  }
  h3 {
    font-weight: 300;
    font-style: italic;
  }
  margin-bottom: 10px;
}

.give-me-top-padding {
  padding-top: 25px;
}

.give-me-small-top-padding {
  padding-top: 10px;
}

.give-me-top-margin {
  margin-top: 25px;
}

.give-me-small-top-margin {
  margin-top: 10px;
}

.space-my-bottom {
  margin-bottom: 25px;
}

.pad-my-bottom {
  padding-bottom: 25px;
}

@media only screen and (min-width: 768px) {
  .relative-position {
    position: fixed;
  }
}

.underline-me {
  text-decoration: underline;
}

.border-divide {
  border-bottom: 1px solid $ffblfontcolor;
}


/****** POSTS ******/

.post-content {
  overflow: auto;
  border-radius: 10px;
  border-top: 1px solid #cce6cc;
  border-left: 2px solid #cce6cc;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 10px 15px;
  margin-top: 10px;
  margin-left: 10px;
  background: #fff;
  opacity: 0.90;
  color: #000;
  p {
    margin-left: 15px;
  }
}

.post-footer {
  border-top: 1px solid #000;
}

.response-content {
  overflow: auto;
  border-radius: 10px;
  border-top: 1px solid #cce6cc;
  border-left: 2px solid #cce6cc;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  padding: 10px;
  margin-top: 10px;
  margin-left: 9.33%;
  background: #fff;
  opacity: 0.90;
  color: #000;
  .response-created {
    border-top: 1px solid #000;
  }
}

.match-response-margin {
  margin-left: 7.667%;
}



/****** FOOTER ******/

.main-footer {
  margin-top: 10px;
  padding-top: 25px;
  li {
    list-style-type: none;
  }
  a {
    color: $ffblfontcolor;
    font-style: italic;
    &:hover {
      text-decoration: none;
      color: #fff;
      background: $ffblcontainerbackgroundlight;
    }
  }
}





/****** BUTTONS ******/

.btn-add {
  font-style: italic;
  color: $ffblcontainerbackground;
  background: $ffblfontcolor;
  padding: 2px 5px;
  &:hover {
    color: #3c3cff;
    background: #fff;
  }
}

.btn-cancel {
  color: $ffblcontainerbackground;
  font-weight: 700;
  background: $ffblfontcolor;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  &:hover {
    color: #3c3cff;
    background: #fff;
  }
  a {
    color: #1919ff;
    &:hover {
      text-decoration: none;
    }
  }
}

.btn-drop {
  color: #fff;
  background-color: #d9534f;
  border: 1px solid #000;
  padding: 2px 5px;
  font-style: italic;
  margin-bottom: 10px;
  &:hover {
    color: #fff;
    background-color: #c9302c;
  }
}





/****** LINKS ******/

.team-link {
  color: $ffblfontcolor;
  font-style: italic;
  &:hover {
    text-decoration: none;
    color: #fff;
    background: $ffblcontainerbackgroundlight;
  }
}

.team-non-link {
  color: $ffblfontcolor;
  font-style: italic;
}

.player-link {
  color: $ffblfontcolor;
  &:hover {
    text-decoration: none;
    color: #fff;
    background: $ffblcontainerbackgroundlight;
  }
}

.post-link {
  color: $ffblfontcolor;
  &:hover {
    text-decoration: none;
    color: #fff;
    background: $ffblcontainerbackgroundlight;
  }
}

.review-link {
  color: $ffblcontainerbackground;
  background: $ffblfontcolor;
  font-size: 2.0em;
  font-style: italic;
  border: 2px solid $ffblcontainerbackgroundlight;
  &:hover {
    text-decoration: none;
    color: #3c3cff;
    background: #fff;
    border: 2px solid $ffblfontcolor;
  }
}


.pagination {
  a {
   color: #1919ff;
   border: 1px solid #000;
   border-radius: 5px;
   padding: 5px 10px;
   margin: 0px 5px;
   background: $ffblfontcolor;
   font-style: italic;
   &:hover {
    text-decoration: none;
    background: #fff;
    }
  }
  .current {
    color: #3c3cff;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px 10px;
    background: #fff;
  } 
  .disabled {
    padding: 5px 10px;
    margin: 0px 5px;
  }
}




/****** FORM ******/


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: #a94442;
  }
}

.search-text {
  color: #000;
}

.search-title {
  font-style: italic;
  font-size: 1em;
}

.post-topic-popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.75);
}

.post-topic-popup-inner {
  max-width: 700px;
  width: 90%;
  padding: 40px;
  top: 10%;
  left: 10%;
  position: absolute;
  border-radius: 5px;
  background: $ffblcontainerbackground;
  opacity: 1;
  border: 1px solid $ffblfontcolor;
  @media only screen and (min-width: 992px) {
    top: 25%;
    left: 25%;
  }
}

.popup-close {
  width: 30px;
  height: 30px;
  padding-top: 4px;
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  background: $ffblfontcolor;
  font-size: 20px;
  text-align: center;
  line-height: 100%;
  color: $ffblcontainerbackground;
  border-radius: 50%;
  &:hover {
    text-decoration: none;
    background: #fff;
    color: #1919ff;
  }
}



/****** TABLE ******/

.table {
  margin-top: 15px;
}

.table-header {
  background: #000;
  opacity: 0.50;
}

.preseason-table {
  caption {
    background-color: #990000;
    color: $ffblfontcolor;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 1.1em;
  }
  td {
    font-size: .9em;
  }
}

.champion-table th,
.champion-table td {
  text-align: center;
}

.champion-table {
  table-layout: fixed;
  word-wrap: break-word;
}


/****** CUSTOM PAGES ******/

.white-background {
  background-color: white;
}

.cfhhof {
  background-color: black;
  background-image: image-url("2007Logo1.JPG");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: left bottom;
  border-radius: 5px;
  td {
    border: 1px solid white;
    background-color: black;
  }
  img {
    border: 1px solid gray;
  }
}

.main-image {
  img {
    max-width: 100%;
    height: auto;
  }
}

.minor-image {
  img {
    height: 200px;
    width: auto;
    max-width: 100%;
  }
}

.preseason-image {
  img {
    height: 200px;
    width: auto;
    max-width: 100%;
    float: left;
    padding-right: 10px;
  }
}

.auto-preseason-image {
  img {
    margin-top: 10px;
  }
}

.sidebet-corner {
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  .table-striped > tbody > tr:nth-child(odd) > td,
  .table-striped > tbody > tr:nth-child(odd) > th {
    background-color: $ffblcontainerbackgroundlight;
  }
}

.commish-note {
  background:  #f3ece2;
  color: black;
  border-radius: 5px;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: $ffblcontainerbackgroundlight;
}

/****** CLEARFIX ******/

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
