@import "bootstrap";

/****** UNIVERSAL ******/

body {
  padding-top: 60px;
  color: #cce6cc;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
}

textarea {
  resize: vertical;
}

.content-container {
  background: linear-gradient(#1919ff, #000, #1919ff);
  background: -webkit-linear-gradient(#1919ff, #000, #1919ff);
  background: -o-linear-gradient(#1919ff, #000, #1919ff);
  background: -moz-linear-gradient(#1919ff, #000, #1919ff);
  border-radius: 10px;
  border-top: 1px solid #cce6cc;
  border-left: 2px solid #cce6cc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}


/****** LAYOUT ******/

.jumbotron {
  background: transparent;
  h1 {
    letter-spacing: -1px;
  }
  h3 {
    font-weight: 300;
    font-style: italic;
  }
}

.give-me-top-padding {
  padding-top: 25px;
}

.give-me-top-margin {
  margin-top: 25px;
}

/****** FOOTER ******/

.main-footer {
  margin-top: 10px;
}

/****** BUTTONS ******/

.btn-add {
  font-style: italic;
  color: #1919ff;
  background: #cce6cc;
  padding: 2px 5px;
  &:hover {
    color: #3c3cff;
    background: #fff;
  }
}

.btn-cancel {
  color: #1919ff;
  background: #cce6cc;
  margin-bottom: 10px;
  &:hover {
    color: #3c3cff;
    background: #fff;
  }
}

.btn-drop {
  color: #fff;
  background-color: #d9534f;
  padding: 2px 5px;
  font-style: italic;
  margin-bottom: 10px;
  &:hover {
    color: #fff;
    background-color: #c9302c;
  }
}


/****** LINKS ******/

.team-link {
  color: #cce6cc;
  font-style: italic;
  &:hover {
    text-decoration: none;
    color: #fff;
    background: #3c3cff;
  }
}

/****** FORM ******/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: #a94442;
  }
}

/****** TABLE ******/

.table {
  margin-top: 15px;
}

