<div class="space-my-bottom">
	<h4 class="search-title">Search Transactions</h4>
	<small class="space-my-bottom">Search transactions by team, player first, or last name</small>
</div>
<%= form_tag transactions_path, :method => "get" do %>
	<%= text_field_tag :search, params[:search], placeholder: "Team or Player", class: "search-text" %>
	<%= submit_tag "Search", :name => nil, class: "btn btn-cancel" %>
<% end %>