<div class="col-sm-10 response-content">  
  <small><%= review.user.name %> thinks...</small>
  <p><%= simple_format(review.thoughts) %></p>
  <div class="post-footer">
    <small>at <%= review.created_at.strftime("%l:%M %P") %> on <%= review.created_at.strftime("%b %-d, %Y") %></small>
  </div>
</div>
